<div class="fixed-top">
    <div class="navbar">
        <div class="container">
            <a id="author-name" class="alignable pull-left" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
            <ul class="alignable pull-right navbar-ul">
                {% for page in site.data.nav %}
                    {% if page.name == "CV" %}
                        <li class="alignable pull-right nav-list"><a target="_blank" href="{{ site.url }}{{ site.baseurl }}{{ page.link }}">{{ page.name }}</a>
                    {% else %}
                        <li class="alignable pull-right nav-list"><a href="{{ site.url }}{{ site.baseurl }}{{ page.link }}">{{ page.name }}</a>
                    {% endif %}
                    {% if forloop.first == false %}
                        <!-- | -->
                    {% endif %}
                        </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>