<div class="publications">

<div class="publication-title">{{ publication.title }}</div>

<img class="publication-picture" src="{{site.url}}{{site.baseurl}}/images/publications/{{ publication.image }}" alt="NOT FOUND" />

<div class="publication-text">

{% if publication.description %}
<p>{{ publication.description }}</p>
{% endif %}

{% if publication.authors %}
<p><em>{{ publication.authors }}</em></p>
{% endif %}

{% if publication.venue %}
<p>{{ publication.venue }}</p>
{% endif %}

{% if publication.number_link == 1 %}
<p>
{% if publication.link1.url contains '://' %}
<a href="{{ publication.link1.url }}" target="_blank">{{ publication.link1.display }}</a>
{% else %}
<a href="{{site.url}}{{site.baseurl}}/docs/publications/{{ publication.link1.url }}" target="_blank">{{ publication.link1.display }}</a>
{% endif %}
</p>
{% endif %}

{% if publication.number_link == 2 %}
<p>
{% if publication.link1.url contains '://' %}
<a href="{{ publication.link1.url }}" target="_blank">{{ publication.link1.display }}</a>
{% else %}
<a href="{{site.url}}{{site.baseurl}}/docs/publications/{{ publication.link1.url }}" target="_blank">{{ publication.link1.display }}</a>
{% endif %}
|
{% if publication.link2.url contains '://' %}
<a href="{{ publication.link2.url }}" target="_blank">{{ publication.link2.display }}</a>
{% else %}
<a href="{{site.url}}{{site.baseurl}}/docs/publications/{{ publication.link2.url }}" target="_blank">{{ publication.link2.display }}</a>
{% endif %}
</p>
{% endif %}

{% if publication.number_link == 3 %}
<p>
{% if publication.link1.url contains '://' %}
<a href="{{ publication.link1.url }}" target="_blank">{{ publication.link1.display }}</a>
{% else %}
<a href="{{site.url}}{{site.baseurl}}/docs/publications/{{ publication.link1.url }}" target="_blank">{{ publication.link1.display }}</a>
{% endif %}
|
{% if publication.link2.url contains '://' %}
<a href="{{ publication.link2.url }}" target="_blank">{{ publication.link2.display }}</a>
{% else %}
<a href="{{site.url}}{{site.baseurl}}/docs/publications/{{ publication.link2.url }}" target="_blank">{{ publication.link2.display }}</a>
{% endif %}
|
{% if publication.link3.url contains '://' %}
<a href="{{ publication.link3.url }}" target="_blank">{{ publication.link3.display }}</a>
{% else %}
<a href="{{site.url}}{{site.baseurl}}/docs/publications/{{ publication.link3.url }}" target="_blank">{{ publication.link3.display }}</a>
{% endif %}
</p>
{% endif %}

{% if publication.number_link == 4 %}
<p>
{% if publication.link1.url contains '://' %}
<a href="{{ publication.link1.url }}" target="_blank">{{ publication.link1.display }}</a>
{% else %}
<a href="{{site.url}}{{site.baseurl}}/docs/publications/{{ publication.link1.url }}" target="_blank">{{ publication.link1.display }}</a>
{% endif %}
|
{% if publication.link2.url contains '://' %}
<a href="{{ publication.link2.url }}" target="_blank">{{ publication.link2.display }}</a>
{% else %}
<a href="{{site.url}}{{site.baseurl}}/docs/publications/{{ publication.link2.url }}" target="_blank">{{ publication.link2.display }}</a>
{% endif %}
|
{% if publication.link3.url contains '://' %}
<a href="{{ publication.link3.url }}" target="_blank">{{ publication.link3.display }}</a>
{% else %}
<a href="{{site.url}}{{site.baseurl}}/docs/publications/{{ publication.link3.url }}" target="_blank">{{ publication.link3.display }}</a>
{% endif %}
|
{% if publication.link4.url contains '://' %}
<a href="{{ publication.link4.url }}" target="_blank">{{ publication.link4.display }}</a>
{% else %}
<a href="{{site.url}}{{site.baseurl}}/docs/publications/{{ publication.link4.url }}" target="_blank">{{ publication.link4.display }}</a>
{% endif %}
</p>
{% endif %}

{% if publication.number_link == 5 %}
<p>
{% if publication.link1.url contains '://' %}
<a href="{{ publication.link1.url }}" target="_blank">{{ publication.link1.display }}</a>
{% else %}
<a href="{{site.url}}{{site.baseurl}}/docs/publications/{{ publication.link1.url }}" target="_blank">{{ publication.link1.display }}</a>
{% endif %}
|
{% if publication.link2.url contains '://' %}
<a href="{{ publication.link2.url }}" target="_blank">{{ publication.link2.display }}</a>
{% else %}
<a href="{{site.url}}{{site.baseurl}}/docs/publications/{{ publication.link2.url }}" target="_blank">{{ publication.link2.display }}</a>
{% endif %}
|
{% if publication.link3.url contains '://' %}
<a href="{{ publication.link3.url }}" target="_blank">{{ publication.link3.display }}</a>
{% else %}
<a href="{{site.url}}{{site.baseurl}}/docs/publications/{{ publication.link3.url }}" target="_blank">{{ publication.link3.display }}</a>
{% endif %}
|
{% if publication.link4.url contains '://' %}
<a href="{{ publication.link4.url }}" target="_blank">{{ publication.link4.display }}</a>
{% else %}
<a href="{{site.url}}{{site.baseurl}}/docs/publications/{{ publication.link4.url }}" target="_blank">{{ publication.link4.display }}</a>
{% endif %}
|
{% if publication.link5.url contains '://' %}
<a href="{{ publication.link5.url }}" target="_blank">{{ publication.link5.display }}</a>
{% else %}
<a href="{{site.url}}{{site.baseurl}}/docs/publications/{{ publication.link5.url }}" target="_blank">{{ publication.link5.display }}</a>
{% endif %}
</p>
{% endif %}

</div>

</div>