<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
        <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="#">About</a>

<!--         <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Blog</a>
 -->
        {% assign blog_url = page.url | slice: 1, 4 %}
        <a class="sidebar-nav-item{% if sliced_url == "blog" %} active{% endif %}" href="/blog">Blog</a>


        {% assign sliced_url = page.url | slice: 1, 7 %}
        <a class="sidebar-nav-item{% if sliced_url == "courses" %} active{% endif %}" href="/courses">Courses</a>

        <a class="sidebar-nav-item" href="{{ site.social.github }}" target="_blank">GitHub</a>
        <a class="sidebar-nav-item" href="{{ site.social.linkedin }}" target="_blank">LinkedIn</a>
        <!-- <a class="sidebar-nav-item" href="{{ site.social.flickr }}" target="_blank">Flickr</a>
        <a class="sidebar-nav-item" href="{{ site.social.website }}" target="_blank">Website</a> -->
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>