<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>

    {% include header.html %}

    <div class="body-container content">

        {{ content }}

    <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Programming Skills</h2>
                        <div class="content">
                            <p class="intro">
                              Worked with a number of programming languages, softwares and technologies in my projects. My primary programming skillset comprises of:
                            </p>

                            <div class="skillset">

                                <div class="item">
                                    <h3 class="level-title">C &amp; Python<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Started programming with C and Python is my preferred language.">Advanced</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="96%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">C++, C# &amp; PHP<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Deliver Software for Microsoft in C#. Used PHP for coding website back-end in two of my projects. Learnt Java while building Android Apps..">Intermediate</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="74%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">HTML5 &amp; CSS3 <span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Learnt HTML5 + CSS3 extensively while building the Institute Alumni Website.">Intermediate</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="72%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">Javascript &amp; jQuery<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="In three of my projects I heavily used JavaScript and JQuery.">Intermediate</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="70%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->




                            </div>
                        </div><!--//content-->
                    </div><!--//section-inner-->
	</aside><!--//section-->


    </div>

    {% include footer.html %}

    {% if jekyll.environment == 'production' %}
    {% endif %}



</body>
</html>